:root {
    --bg-color: #18181b; 
    --text-color: #f8fafc;
    --nav-bg: #09090b; 
    --nav-text: #a1a1aa;
    --accent-color: #22c55e; 
    --accent-hover: #16a34a;
    --border-color: #27272a;
}

[data-theme="secret"] {
    --bg-color: #000000;
    --text-color: #f8fafc;
    --nav-bg: #111111;
    --nav-text: #a1a1aa;
    --accent-color: #ef233c; 
    --accent-hover: #d90429;
    --border-color: #3f3f46;
}